[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pytest = "==5.3.1"
behave = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"

[packages]
requests = "==2.22.0"
invoke = "*"
pytest-cov = "*"
pact-python = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "invoke lint.code lint.types"
lint_code = "invoke lint.code"
lint_types = "invoke lint.types"
autoformat = "invoke autoformat.imports autoformat.code"
autoformat_code = "invoke autoformat.code"
autoformat_imports = "invoke autoformat.imports"
test = "invoke test.unit test.integration test.acceptance"
test_unit = "invoke test.unit"
test_integration = "invoke test.integration"
test_acceptance = "invoke test.acceptance"
