[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pytest = "==5.3.1"
behave = "*"
isort = "*"
flake8 = "*"
mypy = "*"

[packages]
requests = "==2.22.0"
invoke = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "inv lint.code lint.types"
lint_code = "inv lint.code"
lint_types = "inv lint.types"
autoformat = "inv autoformat.code autoformat.imports"
autoformat_code = "inv autoformat.code"
autoformat_imports = "inv autoformat.imports"
test = "inv test.unit test.integration test.acceptance"
test_unit = "inv test.unit"
test_integration = "inv test.integration"
test_acceptance = "inv test.acceptance"
